.mainImage {
	width: 20%;
	margin: 0 auto;
}

.mainImage img {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	min-width: 20%;
	border-radius: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

#MainInformation {
	width: 70%;
	margin: 0 auto;
}